.buildlog
.dart_tool/
.DS_Store
.idea
.pub/
.settings/
*.iml
**/build
**/packages
**/pubspec.lock
**/.packages
**/*.injector.dart
**/finject_config.dart
**/.test_coverage.dart
coverage/
html/
xml/
coverage_badge.svg
index.html